/* Table Content below */
#table-container {
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Add a vertical scrollbar when the content overflows */
    width: 100%; /* Ensure the container spans the full width */

}

#table-container table {
    width: 100%; /* Set the table width to 100% to match the container width */
    table-layout: fixed; /* Use fixed table layout to ensure proper sizing */
}

#table-container table th {
    width: 100px; /* Adjust the width as needed */
}

.dataih {
    width: 100%; /* Make the table span the entire container width */
    border-collapse: collapse; /* Collapse table borders */
    font-family: Arial, sans-serif; /* Specify a font family */
    font-size: 14px; /* Set the font size */
}

.dataih th{
    background-color: #f2f2f2; /* Background color for header cells */
    text-align: left; /* Align text to the left */
    border-bottom: 2px solid #333; /* Add a bottom border */
}
.dataih td {
    border-bottom: 1px solid #ddd; /* Add a bottom border to separate rows */
}
/* End of Table content */

/*Plots Below */
.plots {
    width: auto; /* Set the desired width for your container */
    height: auto; /* Set the desired height for your container */
    overflow: hidden; /* Hide the overflow to crop the image */
}
#plot-container {
    text-align: center; /* Center align content within the container */
}
#plot-column {
    display: flex; /* Use flexbox for side-by-side images */
    justify-content: space-between; /* Distribute space between the two images */
    margin-bottom: 20px; /* Add space between the two rows of images */
    flex-wrap: wrap;
}

#plot-column img {
    width: 100%; /* Set a specific width for each side-by-side image */
    height: auto; /* Maintain aspect ratio */
}  

#centered-image {
    display: block; /* Center-align the image */
    margin: 0 auto; /* Center the image horizontally within its container */
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */

}

.catselector {
    display: inline-block; /* Display as inline-block to place elements on the same line */
    margin-right: 10px; /* Add margin for spacing */
}

/* Style the select element */
#dropdown {
    width: 150px; /* Set a specific width for the dropdown */
}
